.app-content {
  display: flex;
  flex-direction: row;
  padding: 30px 30px 0 30px;
}

.product-info {
  flex: 1;
  min-height: 900px;
}

.product-stats-table {
  margin-left: 5px;
  border: 1px solid rgba(182, 176, 176, 0.459);
  flex: 5;
}
