.app-content {
  display: flex;
  flex-direction: row;
  padding: 30px 30px 0 30px;
}
 

.product-info {
  flex: 1;
  height: 560px;
  background-color: aqua;
}

.product-stats-table {
  flex: 3;
  background-color: rgb(155, 110, 27);
}